
body {
    background-color: white;
}

.container {
    margin-top: 120px;
    background-color: lemonchiffon;
    width: 90%;
}

@media (max-width: 767px) {
   .container {
    margin-top: 340px;
    } 
}    

.jumbotron {
  margin-top: 5px;
  background-color:orange;
}